* {
    margin: 0;
    padding: 0;
}

.header {
    background-color:rgb(255, 162, 162);
    width: 100%;
    height: 100px;

}

.texthead ul {
    
    display: flex;
    list-style: none;
}

.texthead li {
    display: flex;
    align-items: center;
    padding: 0 15px;
    margin-top: 10px;
    background-color: aqua;
}
.texthead img {
    width: 70px;
}

.block1 img {
    width: 100%;
}