@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
}

.body{
    max-width: 1566px;
}
.applelogo {
    width: 180px;
}

.header {
    background-color: rgb(255, 255, 255);
    height: 80px;
    align-items: center;
    display: flex;
    max-width: 1540px;
}

.texthead ul {
    font-size: 22px;
    font-family: 'Merriweather Sans', sans-serif;
    display: flex;
    list-style: none;
    margin-left: 300px;
}

.texthead p {
    color: rgb(234, 92, 4)
}

.texthead a {
    color: black;
    display: flex;
    align-items: center;
    text-decoration: dashed;
}

.texthead li {
    font-weight: 900;
    display: flex;
    padding: 0 15px;
}

.texthead li:hover {
    height: 80px;
    background-color: rgba(171, 171, 172, 0.356);
}

.texthead img {
    width: 50px;
}

/* banner iphone14pm */

.block1 {
    width: 1540px;
    background-color: rgb(0, 0, 0);
    height: 600px;
    display: flex;
}

.ip14text p {
    color: rgb(255, 255, 255);
    position:relative;
    bottom: 460px;
    left: 350px;
    font-size: 50px;
    font-family: 'Merriweather Sans', sans-serif;
}

.block1 img {
    width: 1280px;
    height: 600px;
    margin-left: 500px;
}
.ip14text {
    height: 0;
}


.ip14text button {
    position: relative;
    background-color: rgb(234, 32, 4);
    color: white;
    border-radius: 9px;
    border-style: none;
    width: 165px;
    height: 55px;
    bottom: 270px;
    left: 490px;
    font-size: 16px;
}

.ip14text button:hover {
    background-color: rgba(234, 31, 4, 0.77);
    cursor: pointer;
}

/* Товары */

.catbox {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(255, 255, 255);
    width: 1566.66px;
}

.catiphone {
    border: 1px rgb(158, 157, 157) solid;
    width: 519px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 16px
}

.catiphone img {
    height: 65%;
    width: 50%;

}

.catiphone:hover {
    background-color: rgba(102, 102, 102, 0.144);
    cursor: pointer;
}

.catipad{
    border: 1px rgb(158, 157, 157) solid;
    width: 519px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 16px
}

.catipad img {
    height: 65%;
    width: 50%;
}

.catipad:hover {
    background-color: rgba(102, 102, 102, 0.144);
    cursor: pointer;
}

.catwatch {
    border: 1px rgb(158, 157, 157) solid;
    width: 519px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 16px
}
.catwatch img {
    height: 65%;
    width: 50%;
}
.catwatch:hover {
    background-color: rgba(102, 102, 102, 0.144);
    cursor: pointer;
}
.catmac {
    border: 1px rgb(158, 157, 157) solid;
    width: 519px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 16px
}
.catmac img {
    height: 65%;
    width: 50%;
}
.catmac:hover {
    background-color: rgba(102, 102, 102, 0.144);
    cursor: pointer;
}
.catairpods {
    border: 1px rgb(158, 157, 157) solid;
    width: 519px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 16px
}
.catairpods img {
    height: 65%;
    width: 50%;
}
.catairpods:hover {
    background-color: rgba(102, 102, 102, 0.144);
    cursor: pointer;
}
.catbump {
    border: 1px rgb(158, 157, 157) solid;
    width: 519px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 16px
}
.catbump img {
    height: 65%;
    width: 50%;
}
.catbump:hover {
    background-color: rgba(102, 102, 102, 0.144);
    cursor: pointer;
}

.foot {
    max-width: 1566px;
    background-color: rgb(36, 36, 36);
    height: 150px;
    display: flex;
    align-items: center;
}

.foot p{
    margin-left: 50px;
    color: white;
    font-size: 20px;
    font-family: 'Merriweather Sans', sans-serif;
}


