* {
    margin: 0;
    padding: 0;
}

.body {
    
}
.header {
    background-color:rgb(255, 162, 162);
    width: 100%;
    height: 100px;
    display: flex;
}

.texthead {
    font-size: 2vh;
}

.texthead img {
    max-width: 40px;
    max-height: 40px;
}

.block1 img {
    width: 100%;
}